.App {
  text-align: center;
}

.Panel {
  margin: 20px;
  padding: 20px;
}

.errors {
  color: red;
}

.inputNumbers {
  padding: 20px;
}

.button {
  padding: 5px;
}

.button-row {
  /* background-color: #e6e6e6; */
  padding: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
